div#example11_wrapper {
	margin-top: 0px !important;
}

.dataTables_info {
	display: none !important;
}

#example11_wrapper {
	padding: 0 !important;
}

#example11_wrapper div.row:nth-child(2) div.col-sm-12 {
	padding: 5px !important;
}

.dataTables_scrollBody {
	background: #fff;
}

.border-td-danger {
	border: 1px #dc3545 solid !important;
}


