.banck_account .form-group row {
	margin: 0 !important;
}
.color_check_btn {
	border: 1px solid black;
	margin: 0 5px;
	border-radius: unset;
}
.color_check_btn.more_color{
	padding: 0;
	margin-left: 0;
}
.selected-color {
	height: 60px;
	width: 100px;
	border: 1px solid #000;
}



